:root {
    --laranja-ruan: rgb(255, 131, 30);
    --verde-leandro: rgb(39, 221, 130);
    --azul-turq: rgb(49, 156, 243);
    --vermelho: rgb(246, 52, 84);
    --roxo: rgb(173, 21, 243);
}

body {
    background-image: url(img/poker-bg-blured.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
@font-face {
    font-family: casino;
    src: url(./fonts/casino.3d-filled-marquee-italic.ttf)
}

@font-face {
    font-family: blackjack;
    src: url(./fonts/BLACKJAC.TTF);
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    width: 98%;
    margin: 8px;
    display: flex;
    border-radius: 8px;
    
}

h1 { 
    font-family: 'blackjack';
    font-size: 64px;
    color: var(--laranja-ruan);
    padding: 10px;
}
h2 {
    font-size: 24px;
    color: #555;
    padding: 10px;
}

section {
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: 8px;
}

main {
    display: flex;
    justify-content: center;
}

aside {
    background-color: rgba(0, 0, 0, 0.6);
    width: 22vw;
    border-radius: 8px;
    color: darkgray;
    padding: 10px;
    box-sizing: border-box;
}

#boardGame {
    background-color: rgba(255, 255, 255, 0.5);
    width: 770px;
    height: 660px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 0 10px;
}

.celulaVazia, .celulaPrenchida1, .celulaPrenchida2{
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    margin: 5px;
}
.celulaVitoria{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 8px;
    margin: 5px;
    box-shadow: 0 0 14px white, 0 0 16px white;
}

.colunas {
    width: 110px;
    height: 660px;
    display: flex;
    flex-direction: column;
}

#disco1 {
    display: block;
    width: 100px;
    height: 100px;
    background-image: url('img/ficha.azul.png');
    justify-content: center;
    align-items: center;
    align-content: center;
    animation-duration: 200ms;
    z-index: 1;
}

#disco2 {
    display: block;
    width: 100px;
    height: 100px;
    background-image: url('img/ficha.vermelha.png');
    justify-content: center;
    align-items: center;
    align-content: center;
    animation-duration: 200ms;
    z-index: 1;
}

@keyframes slideDown {
    from {margin-top: -440px;}
    to {margin-top:  0px;}
}
.slideDown {
    animation-name: slideDown;
    position: absolute;
}

#infoArea {
    overflow: auto;
}

summary {
    color: var(--laranja-ruan);
    font-size: 25px;
    margin: 8px;
}

details > p, details > ul {
    margin: 6px;
    background-color: rgba(0, 0, 0, 0.62);
    padding: 8px;
    line-height: 1.4;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: green;
}

#outputArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#turnsCounter, #scoreLetters {
    position: absolute;
    top: 16px;
    font-family: 'blackjack';
    font-size: 28px;
    color: #444;
}
#turnsCounter {
    left: 24px;
}
#scoreLetters {
    left: 14px;
}

#score {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
}

#turns {
    font-family: 'blackjack';
    font-size: 96px;
    color: var(--verde-leandro);
    margin: 16px;
    text-shadow: 0 0 10px var(--verde-leandro), 0 0 12px var(--verde-leandro);
    position: relative;
}

.player1 {
    font-family: 'blackjack';
    font-size: 24px;
    margin: 16px;
    color: var(--azul-turq);
    text-shadow: 0 0 10px var(--azul-turq), 0 0 12px var(--azul-turq);
}
.player2 {
    font-family: 'blackjack';
    font-size: 24px;
    margin: 16px;
    color: var(--vermelho);
    text-shadow: 0 0 10px var(--vermelho), 0 0 12px var(--vermelho);
}

#scoreNumber {
    font-size: 64px;
}

#resetScreen {
    width: 770px;
    height: 660px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mensagemGO {
    color: var(--laranja-ruan);
    font-family: 'blackjack';
    font-size: 64px;
    margin: 16px;
}

#player1won {
    font-family: 'casino';
    font-size: 96px;
    color: var(--azul-turq);
    margin: 16px;
}
#player2won {
    font-family: 'casino';
    font-size: 96px;
    color: var(--vermelho);
    margin: 16px;
}
#drawMessage {
    font-family: 'casino';
    font-size: 96px;
    color: var(--roxo);
    margin: 16px;
}

#respeito {
    font-family: 'blackjack';
    font-size: 40px;
    color: var(--laranja-ruan);
}

#restartButton {
    background-color: green;
    margin: 64px;
    border-radius: 8px;
    border: none;  
    color: white;
    width: 40%;
    height: 15%;
    font-size: 48px;
    font-family: 'blackjack';
}

audio {
    width: 98%;
    height: 20px;
}